%html
  %head
    %title Age | Noah Andrew
    %link{rel: "stylesheet", href: "css/bootstrap.min.css"}
    %script{src: "js/jquery.min.js"}
    %script{src: "js/tether.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/vue.js"}

  %body
    = yield
